In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /home/client111/anaconda3/lib/python3.12/site-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /home/client111/anaconda3/lib/python3.12/site-packages (from pyspark) (0.10.9.7)

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /home/client111/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /home/client111/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/client111/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/client111/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/client111/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/client111/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pyspark

In [4]:
import pandas as pd

In [5]:
pd.read_csv('datas.csv')

       name  age  experience
0     akbar   11           2
1     abbas   20           1
2    nasrin   22           2
3  fariborz   40           3

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/27 15:08:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
df_pyspark = spark.read.csv('datas.csv')

In [9]:
df_pyspark.show()

+--------+---+----------+
|     _c0|_c1|       _c2|
+--------+---+----------+
|    name|age|experience|
|   akbar| 11|         2|
|   abbas| 20|         1|
|  nasrin| 22|         2|
|fariborz| 40|         3|
+--------+---+----------+

In [27]:
df = spark.read.option('header', 'true').option('inferSchema', 'true').csv('datas.csv', inferSchema=True)

In [29]:
df.show()

+--------+---+----------+
|    name|age|experience|
+--------+---+----------+
|   akbar| 11|         2|
|   abbas| 20|         1|
|  nasrin| 22|         2|
|fariborz| 40|         3|
+--------+---+----------+

In [31]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [33]:
df.head(3)

[Row(name='akbar', age=11, experience=2),
 Row(name='abbas', age=20, experience=1),
 Row(name='nasrin', age=22, experience=2)]

In [35]:
type(df)

pyspark.sql.dataframe.DataFrame

In [37]:
df.columns

['name', 'age', 'experience']

In [39]:
df.select('Name')

DataFrame[Name: string]

In [41]:
df.select('Name').show()

+--------+
|    Name|
+--------+
|   akbar|
|   abbas|
|  nasrin|
|fariborz|
+--------+

In [45]:
df.select(['Name', 'Experience'])

DataFrame[Name: string, Experience: int]

In [47]:
df.select(['Name', 'Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   akbar|         2|
|   abbas|         1|
|  nasrin|         2|
|fariborz|         3|
+--------+----------+

In [49]:
df['Name']

Column<'Name'>

TypeError: 'Column' object is not callable